PORT=3000
NODE_ENV=development

AWS_REGION=eu-north
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET=strory-book-s3
AWS_S3_PREFIX=uploads

# Connect to Postgres via the shared transaction-mode pooler (IPv4-only)
DATABASE_URL="postgresql://postgres.kvxupehmhckhjtflcchy:StoryBook@Postgres@aws-1-ap-northeast-2.pooler.supabase.com:6543/postgres?pgbouncer=true"

# Connect to Postgres via the shared session-mode pooler (used for migrations)
DIRECT_URL="postgresql://postgres.kvxupehmhckhjtflcchy:StoryBook@Postgres@aws-1-ap-northeast-2.pooler.supabase.com:5432/postgres"
